<div class="row">
  <div class="col-12 color-253238 mb-4">
    <div class="f-20-400 mb-2">Terms and Services</div>
    <div class="mb-2"><img class="img-fluid" src="../../../assets/images/terms-img.png" /></div>
    <div class="mb-3">
      <span class="color-253238 f-14-400">Last updated: January. 1 2021</span>
    </div>
    <div class="mb-5">
    <div class="mb-3">
      <span class="f-23-500 color-253238">Contact manager User Terms of Service</span>
    </div>
    <div>
      <p>
        We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the
        collection and use of information in accordance with this policy.
      </p>
      <p>
        This Privacy Policy is meant to help you understand what information we collect,
         why we collect it, and how you can update, manage, export, and delete your information.
      </p>
    </div>
    </div>
    <div class="mb-5">
      <div class="mb-3">
        <span class="f-23-500 color-253238">Information collection and use</span>
      </div>
      <div>
        <p>
          We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the
          collection and use of information in accordance with this policy.
        </p>
        <p>
          This Privacy Policy is meant to help you understand what information we collect,
           why we collect it, and how you can update, manage, export, and delete your information.
        </p>
      </div>
      </div>
  </div>
</div>
