<app-header></app-header>
<mat-drawer-container hasBackdrop="true">
<mat-drawer #drawer mode="Over" position="end" class="noScrollDrawer">
  <div class="drawerContainer">
          <app-task-filter *ngIf="showFilter" (closeDialog)="drawer.toggle()" (count)="filterCount=$event"></app-task-filter>
  </div>
</mat-drawer>

<div fxLayout="row" fxLayout.xs="column" class="lightBackground">
    <div fxFlex="">
        <div class="topBar alignCenter">
          <span routerLink='/pages/dashboard' class="cursorPointer">
            <mat-icon class="align-top mr-1">arrow_back</mat-icon>
            Tasks
          </span>

            <mat-form-field class="searchForm noLabelForm noSpaceForm" appearance="outline">
                <input type="text" matInput placeholder="Search...">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="ml-auto">
              <button mat-button class="flatIconTextButton ml-3" (click)="drawer.toggle() ; clickFilter()">
                <mat-icon class="iconInButton">filter_alt</mat-icon>
                Filter({{filterCount}})
            </button>
            </div>

        </div>
        <ngx-simplebar [options]="scrollOptions" class="listContainer">
            <mat-list class="pt-0">
              <div class="px-3 py-2">
                <div class="row align-items-center">
                  <div class="col">
                    <span class="">All task</span>
                  </div>
                  <div class="col-auto ml-auto">
                    <button (click)="clickAddTask(false)" mat-button class="iconSmall color-455B66">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>

                <ng-container *ngFor="let task of tasks; let i = index">
                    <mat-list-item class="taskItem" *ngIf="!task.selected">
                      <span>
                        <mat-checkbox  class="customCheckBox" (change)="clickCheckBox(task, i)"
                                [checked]="task.selected">
                        </mat-checkbox>
                        <span (click)="clickAddTask(true)" [class.lineThrough]="task.selected">{{task.name}}</span>
                      </span>

                        <div class="alignCenter">
                            <div (click)="clickAddTask(true)" class="datePanel alignCenter mr-3" *ngIf="task.date"
                                [class.dateRed]="i==1">
                                <mat-icon class="material-icons-outlined dateIcon">calendar_today</mat-icon>
                                <span>{{task.date}}</span>
                            </div>
                            <div (click)="clickAddTask(true)" class="datePanel alignCenter mr-3" *ngIf="task.time">
                                <mat-icon class="dateIcon">notifications</mat-icon>
                                <span>{{task.time}}</span>
                            </div>
                            <div class="createdDate">
                                <span>Created</span>
                                <span>{{task.created}}</span>
                            </div>
                        </div>
                    </mat-list-item>
                </ng-container>
                <ng-container *ngIf="getCompletedTasks().length > 0">
                    <mat-list-item class="itemHeader">Completed</mat-list-item>
                    <mat-list-item class="taskItem" *ngFor="let e of completedTasks">
                        <mat-checkbox class="customCheckBox" [checked]="true" (change)="clickCompleteCheck(e)">
                            <span class="lineThrough">{{e.name}}</span>
                        </mat-checkbox>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </ngx-simplebar>
    </div>

</div>
</mat-drawer-container>
