<app-header></app-header>
<section class="py-3">
  <div class="container-fluid px-5">
    <div class="row align-items-center">
      <div class="col">
        <span routerLink='/pages/dashboard' class="cursorPointer color-253238 f-20-500">
          <mat-icon class="align-top mr-1">arrow_back</mat-icon>
          Activity Log
        </span>
      </div>
    </div>
  </div>
</section>
<section class="lightBackground">
  <ngx-simplebar [options]="scrollOptions" class="listContainer">
    <div class="container-fluid px-5 py-3">
     <div class="row justify-content-center">
       <div class="col-sm-12 col-md-12 col-lg-10">
         <div class="activityWrap">
           <div class="activitySession">
           <p class="color-253238 f-12-700">Today</p>
           <div class="whiteBox">
              <ul class="activityItem">
                <li>
                  <div class="row">
                    <div class="col-auto pr-0">
                      <mat-icon class="color-455B66">speaker_notes</mat-icon>
                    </div>
                    <div class="col">
                      <div class="f-12-400 mb-3 mt-1">
                        <span class="color-002868">Wes Studi</span>
                        <span class="color-455B66">
                          <mat-icon class="arrow">arrow_forward</mat-icon>
                          Brian Markinson
                        </span>
                      </div>
                      <div class="f-14-500 color-253238">
                        <p>Notes!</p>
                        <p>I’d love to know the new features that are implemented in the last versions.</p>
                        <p>
                          <i>Thank you!</i>
                        </p>
                        <p>
                          <i>
                            Click here to viw the <span class="textLink">comments</span>
                          </i>
                        </p>
                      </div>


                    </div>
                    <div class="col-auto ml-auto">
                      <div class="color-455B66 f-10-400">
                        <span>2/1/2021</span>
                        <span class="ml-2">9:00 AM</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-auto pr-0">
                      <mat-icon class="color-455B66">task</mat-icon>
                    </div>
                    <div class="col">
                      <div class="f-12-400 mb-3 mt-1">
                        <span class="color-002868">Wes Studi</span>
                        <span class="color-455B66">
                          <mat-icon class="arrow">arrow_forward</mat-icon>
                          Brian Markinson
                        </span>
                      </div>
                      <div class="f-14-500 color-253238">
                        <p>Task!</p>
                        <p>I’d love to know the new features that are implemented in the last versions.</p>
                        <p>
                          <i>Thank you!</i>
                        </p>
                        <p>
                          <i>
                            Click here to viw the <span class="textLink">comments</span>
                          </i>
                        </p>
                      </div>


                    </div>
                    <div class="col-auto ml-auto">
                      <div class="color-455B66 f-10-400">
                        <span>2/1/2021</span>
                        <span class="ml-2">9:00 AM</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
           </div>
           </div>
           <div class="activitySession">
            <p class="color-253238 f-12-700">This Week</p>
            <div class="whiteBox">
               <ul class="activityItem">
                 <li>
                   <div class="row">
                     <div class="col-auto pr-0">
                       <mat-icon class="color-455B66">mail</mat-icon>
                     </div>
                     <div class="col">
                       <div class="f-12-400 mb-3 mt-1">
                         <span class="color-002868">Wes Studi</span>
                         <span class="color-455B66">
                           <mat-icon class="arrow">arrow_forward</mat-icon>
                           Brian Markinson
                         </span>
                       </div>
                       <div class="f-14-500 color-253238">
                         <p>Email Log!</p>
                         <p>I’d love to know the new features that are implemented in the last versions.</p>
                         <p>
                           <i>Thank you!</i>
                         </p>
                         <p>
                           <i>
                             Click here to viw the <span class="textLink">comments</span>
                           </i>
                         </p>
                       </div>


                     </div>
                     <div class="col-auto ml-auto">
                       <div class="color-455B66 f-10-400">
                         <span>2/1/2021</span>
                         <span class="ml-2">9:00 AM</span>
                       </div>
                     </div>
                   </div>
                 </li>
                 <li>
                   <div class="row">
                     <div class="col-auto pr-0">
                       <mat-icon class="color-455B66">phone</mat-icon>
                     </div>
                     <div class="col">
                       <div class="f-12-400 mb-3 mt-1">
                         <span class="color-002868">Wes Studi</span>
                         <span class="color-455B66">
                           <mat-icon class="arrow">arrow_forward</mat-icon>
                           Brian Markinson
                         </span>
                       </div>
                       <div class="f-14-500 color-253238">
                         <p>Call Log!</p>
                         <p>I’d love to know the new features that are implemented in the last versions.</p>
                         <p>
                           <i>Thank you!</i>
                         </p>
                         <p>
                           <i>
                             Click here to viw the <span class="textLink">comments</span>
                           </i>
                         </p>
                       </div>


                     </div>
                     <div class="col-auto ml-auto">
                       <div class="color-455B66 f-10-400">
                         <span>2/1/2021</span>
                         <span class="ml-2">9:00 AM</span>
                       </div>
                     </div>
                   </div>
                 </li>
               </ul>
            </div>
            </div>
         </div>
         <div></div>
       </div>
     </div>
    </div>
</ngx-simplebar>

</section>
