<div class="row">
  <div class="col-12 color-253238 mb-4">
    <div class="f-20-400 mb-2">Import your data </div>
    <div class="f-14-400">From here, you can import contacts into contacts using a CSV.
      Take a look at this <a class="color-253238 underlineText">article</a> <br>
       before you prepare the CSV file for importing.</div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="graybox2">
      <div class="dragDropBox text-center" appDragdrop (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef"  accept=".csv" (change)="fileBrowseHandler($event.target.files)" />
        <div class="mb-3">
          <img src="../../../assets/images/dragUploadIcon.png">
        </div>
       <div>
        <label for="fileDropRef" class="uploadLabel">Upload a file</label>
       </div>

        <div class="color-455B66 f-12-400">or drag and drop your CSV file here</div>
      </div>
      <div class="files-list mt-2">
        <div class="file-list" *ngFor="let file of files; let i = index">
            <span class="">
              {{ file?.name }}
            </span>
            <span class="">
              {{ formatBytes(file?.size) }}
            </span>
          <span class="delete" (click)="deleteFile(i)">
            <span class="material-icons fs-16">delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="graybox2">
      <div class="f-14-400 color-253238">
        Import from
      </div>
      <div class="mt-3">
        <button mat-flat-button class="mr-2 py-1 mb-1">
          <img src="../../../assets/images/gmail.png">
        </button>
        <button mat-flat-button class="mr-2 py-1 mb-1">
          <img src="../../../assets/images/facebook.png">
        </button>
        <button mat-flat-button class="mr-2 py-1 mb-1">
          <img src="../../../assets/images/twitter.png">
        </button>
        <button mat-flat-button class="py-1 mb-1">
          <img src="../../../assets/images/outlook.png">
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="row">
      <div class="col-12 color-253238">
        <span class="f-20-400">Import History</span>
      </div>
      <div class="col-12 mt-3">
        <div class="table001">
          <div class="color-253238 table-responsive table001">
            <table mat-table [dataSource]="dataSourceImport" class="w-100">
              <!-- Position Column -->
              <ng-container matColumnDef="importName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.importName}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="importType">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.importType}} </td>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="importDate">
                <th class="w-220px" mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.importDate}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedImportColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedImportColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
  </div>

