<div class="row">
  <div class="col-12">
    <div class="mb-5">
      <div class="mb-3">
        <span class="f-23-500 color-253238">Information collection and use</span>
      </div>
      <div class="f-16-300-29">
        <p>
          <strong class="f-16-500">1.1 Account Registration and Confidentiality.</strong> While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable
          information may include, but is not limited to your name ("Personal Information").
        </p>
        <p>
          <strong class="f-16-500">1.2 Unauthorized Account Use.</strong> While using our Site, we may ask you to provide us with certain
          personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").
        </p>
      </div>
      </div>
      <div class="mb-5">
        <div class="mb-3">
          <span class="f-23-500 color-253238">Log Data</span>
        </div>
        <div class="f-16-300-29">
          <p>
            <strong class="f-16-500">1.1 Account Registration and Confidentiality.</strong> While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable
            information may include, but is not limited to your name ("Personal Information").
          </p>
          <p>
            <strong class="f-16-500">1.2 Unauthorized Account Use.</strong> While using our Site, we may ask you to provide us with certain
            personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").
          </p>
        </div>
        </div>
  </div>
</div>
