<div class="">
    <section class="bg-e5e5e5 py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="">
                        <img src="../../../assets/images/logo.png" alt="Logo">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="py-5 bgWhite">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
                    <div class="text-center mb-5 mt-4">
                        <div class="f-22-700 color-1F304B mb-2">
                            <span>Create a new password</span>
                        </div>
                        <div class="f-16-400 color-1F304B">
                            <span>Type and confirm a secure new password for the account.</span>
                        </div>
                    </div>
                    <div class="alertBoxError" *ngIf="apiResponse && !apiResponse.success">
                        <p class="f-14-700 color-253238 mb-1">Error</p>
                        <span class="color-C41E41 f-12-400">{{apiResponse.message}}</span>
                    </div>
                    <div class="px-5">
                        <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="userForm">
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter password</mat-label>
                                        <input matInput [type]="pwd ? 'password' : 'text'" placeholder="Password" formControlName="password">
                                        <button mat-icon-button matSuffix (click)="pwd = !pwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwd">
                    <mat-icon>{{pwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                                        <mat-error *ngIf="ResetPasswordForm.controls.password.errors?.required">This field is required.</mat-error>
                                        <mat-error *ngIf="ResetPasswordForm.controls.password.errors?.pattern">
                                            <p>At least 1 Uppercase</p>
                                            <p>At least 1 Lowercase</p>
                                            <p>At least 1 Number</p>
                                            <p>At least 1 Symbol, symbol allowed !@#$%^&*_=+-</p>
                                            <p>Min 8 chars and Max 12 chars</p>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Confirm password</mat-label>
                                        <input matInput [type]="confirmPwd ? 'password' : 'text'" formControlName="password_confirmation" placeholder="Password">
                                        <button mat-icon-button matSuffix (click)="confirmPwd = !confirmPwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPwd">
                    <mat-icon>{{confirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                                        <mat-error *ngIf="ResetPasswordForm.controls.password_confirmation.errors?.required">This field is required.</mat-error>
                                        <mat-error *ngIf="ResetPasswordForm.controls.password_confirmation.errors?.pattern">
                                            <p>At least 1 Uppercase</p>
                                            <p>At least 1 Lowercase</p>
                                            <p>At least 1 Number</p>
                                            <p>At least 1 Symbol, symbol allowed !@#$%^&*_=+-</p>
                                            <p>Min 8 chars and Max 12 chars</p>
                                        </mat-error>
                                        <mat-error *ngIf="ResetPasswordForm.controls.password_confirmation.errors?.confirmedValidator">Password and Confirm Password must be match.</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-4">
                                <!--<a routerLink='/user/login' class="w-100 bg-1F304B" mat-flat-button color="warn">Sign in with new password</a>-->
                                <!-- Submit Button -->
                                <button type="submit" class="w-100 bg-1F304B" mat-flat-button color="warn" [disabled]="clicked">Change Password</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>