<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 themeTable">
    <ng-container matColumnDef="contact" sticky>
        <th mat-header-cell *matHeaderCellDef class="contactHeader">
            Contact
        </th>
        <td mat-cell *matCellDef="let element" class="contactCell">
          <mat-checkbox color="primary" (click)="clickCheck($event, element)" [checked]='setCheckStatus(element)' class="customCheckBox">
            </mat-checkbox>

            <span class="cursorPointer" (click)="clickItem(element)">
              <span class="businessImage mr-2">
                <img class="avatar" alt="Image" src="{{element.profile_pic}}">
              </span>
              <span class="textOverflow">{{element.full_name}}</span>
          </span>
      </td>
  </ng-container>

    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('company')" [class.activeTh]="selectedTh == 'company'">
            <img class="businessIcon" alt="Image" src="../../../assets/images/business.svg">
            Company
        </th>
        <td mat-cell *matCellDef="let element" class="nameCell">{{element.organization_name}}</td>
    </ng-container>

    <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('last')" [class.activeTh]="selectedTh == 'last'">
            Last Activity</th>
        <td mat-cell *matCellDef="let element">
            <!-- {{dateToString(element.last)}} -->
        </td>
    </ng-container>

    <ng-container matColumnDef="since">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('day')" [class.activeTh]="selectedTh == 'day'">
            Day Since Last Communication</th>
        <td mat-cell *matCellDef="let element">1 Day</td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('city')" [class.activeTh]="selectedTh == 'city'">City</th>
        <td mat-cell *matCellDef="let element">{{element.city}}</td>
    </ng-container>

    <ng-container matColumnDef="added">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('added')" [class.activeTh]="selectedTh == 'added'">Added on</th>
        <td mat-cell *matCellDef="let element">{{element.created_at}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('status')" [class.activeTh]="selectedTh == 'status'">Contact Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            (click)="clickTh('phone')" [class.activeTh]="selectedTh == 'phone'">Work Phone</th>
        <td mat-cell *matCellDef="let element">{{element.work_number}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="footer">
    <!-- <mat-paginator class="customPaginator" [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>-->
  <mat-paginator 
    class="customPaginator"
    [length]="length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="[10]"
    (page)="pageChanged($event)" >
  </mat-paginator>
</div>
