<app-header></app-header>

<div *ngIf="showDetails">
    <app-company-detail 
        [company]="companyDetails"
        (backEvent)="onHideDetails()">
    </app-company-detail>
</div> 

<div *ngIf="!showDetails">
<mat-drawer-container hasBackdrop="true">
    <mat-drawer #drawer mode="Over" position="end" class="noScrollDrawer" (closedStart)="filterClosedStart()">
        <div class="drawerContainer">
            <!-- <div class="drawerContainerTop">
                <button mat-button class="closeIconButton mr-4" (click)="drawer.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-icon>filter_alt</mat-icon>
                <span class="mr-5" class="filterBadge" matBadge={{filterCount}} matBadgeColor="warn" matBadgePosition="above after" matBadgeOverlap="false">Filters</span>
                    <button mat-button class="clearAllButton">
                        Clear all
                    </button>
            </div> -->
            <!-- <ngx-simplebar [options]="scrollOptions" class="filterContainer1"> -->
                <company-filter *ngIf="showFilter" 
                    [companyOwners]="companyOwners" 
                    (closeDialog)="drawer.toggle()" 
                    (notifyFilters)="setFilter($event)">
                </company-filter>
            <!-- </ngx-simplebar> -->
            <!-- <contact-filter></contact-filter> -->
        </div>
    </mat-drawer>

    <div class="topBar">
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column">
            <div class="topBarDiv" >
                <button mat-button [matMenuTriggerFor]="companyMenu">
                    <span class="title fontObjektivMk mt-1">Companies</span>
                    <mat-icon class="iconInButton">arrow_drop_down</mat-icon>
                </button>
                <mat-menu #companyMenu="matMenu" class="settingsPanel">
                    <ul class="addPanelUL">
                        <li mat-menu-item (click)="clickContactPage()">
                            <a class="f-16-500 color-253238"><img class="mr-3" src="../../../assets/images/personIcon.png" alt="Image">Contact</a>
                        </li>
                        <!-- <li mat-menu-item (click)="selectCompany()">
                            <a class="f-16-500 color-253238"><img class="mr-3" src="../../../assets/images/companyIcon.png" alt="Image">Company</a>
                        </li> -->
                    </ul>
                </mat-menu>

                <mat-form-field class="searchForm noLabelForm noSpaceForm" appearance="outline" >
                    <input type="text" matInput placeholder="Search..." [(ngModel)]="contactService.searchText" (keydown.enter)="applyFilter()">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="topBarDiv">
                <!-- <button mat-button class="flatIconTextButton mr-3" [matMenuTriggerFor]="optionMenu">
                    <mat-icon class="iconInButton">arrow_drop_down</mat-icon>
                    Option
                </button>
                <mat-menu #optionMenu="matMenu">
                    <button mat-menu-item>option1</button>
                    <button mat-menu-item>option2</button>
                    <button mat-menu-item>option3</button>
                </mat-menu> -->
                <button matTooltip="Export" mat-button class="flatIconTextButton mr-3 mw-40 px-0">
                  <mat-icon class="iconInButton">import_export</mat-icon>
              </button>
                <button mat-button class="showListButton" [class.activeBtn]="listShow" (click)="showList()">
                    <mat-icon>list</mat-icon>
                </button>
                <button mat-button class="showDashboardButton" [class.activeBtn]="!listShow" (click)="showGrid()">
                    <mat-icon>dashboard</mat-icon>
                </button>
                <button  mat-button class="flatIconTextButton ml-3" (click)="clickFilter()">
                    <mat-icon class="iconInButton">filter_alt</mat-icon>
                    Filter({{ filters?filters.count:0 }})
                </button>
            </div>
        </div>
    </div>

    <ngx-simplebar [options]="scrollOptions" class="mainContainer" [class.listHeight] = "listShow" [class.gridHeight] = "!listShow">
        <div *ngIf="!selectedItems.length" class="checkDiv m-3">
            <mat-checkbox color="primary" class="contactCheck mr-4 customCheckBox" (click)="clickEmptyCheck()"><span>{{items.length}} Companies</span></mat-checkbox>
            <!-- <span class="pt-1">Sorted by last activity date</span> -->
        </div>
        <div *ngIf="selectedItems.length" class="checkDiv m-3">
            <mat-checkbox color="primary" [indeterminate]="selectedItems.length" (click)="clickIndeterminate()"
                        class="contactCheck mr-4 customCheckBox"><span>{{selectedItems.length}} / {{items.length}} Selected</span></mat-checkbox>
            <button (click)="open(modalDelete)" mat-button class="deleteBtn">Delete</button>
            <!-- <button mat-button class="smallIconBtn ml-2" (click)="clickEmail()">
                <mat-icon>sticky_note_2</mat-icon>
            </button> -->
        </div>

        <div *ngIf="!listShow" class="row">
            <ng-container *ngFor="let item of items">
                <div *ngIf="checkCategory(item)" class="fullWidth text-right dateDiv">{{item.category}}</div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <mat-card class="mat-elevation-z0 p-3 mb-4" style="position: relative"
                            (click)="clickCard(item)" (mouseover)="setHoveredItem(item)">
                        <mat-checkbox *ngIf="showCardCheckBox(item)"
                            class="cardCheckBox customCheckBox" 
                            [checked]='setCheckStatus(item)'
                            (click)="clickCheck($event, item);$event.stopPropagation();" 
                            color="primary">
                        </mat-checkbox>
                        <mat-card-header>
                            <div mat-card-avatar class="iconContainer">
                                <img *ngIf="!item.company; else elseBlock" alt="Image" src="../../../assets/images/face.svg" class="avatar">
                                <ng-template #elseBlock>
                                    <!-- <mat-icon class="roundIcon">business</mat-icon>-->
                                    <img alt="Image" src="../../../assets/images/business19.svg">
                                </ng-template>
                            </div>
                        </mat-card-header><br>
                        <mat-card-content *ngIf="item.company; else companyContent">
                            <span class="cardText1">{{item.name}}</span>
                            <span class="cardText2">Owner: {{item.owner.full_name}}</span><br>
                            <span class="cardText2">{{item.contacts_count}} Contacts</span>
                        </mat-card-content>
                        <ng-template #companyContent>
                            <span class="cardText1">{{item.name}}</span>
                            <span class="cardText2">{{item.email}}</span><br>
                            <span class="cardText2">{{item.companyName}}</span>
                        </ng-template>
                    </mat-card>
                </div>

                <!-- <ng-container *ngIf="i == 6 || i == 0">
                    <div class="fullWidth"></div>
                    <div class="fullWidth text-right dateDiv" *ngIf="i == 0">December, 2020</div>
                    <div class="fullWidth text-right dateDiv" *ngIf="i == 6">November, 2020</div>
                </ng-container> -->
            </ng-container>
            <div *ngIf="checkCategory(null)"></div>
        </div>

        <div *ngIf="listShow">
            <app-company-table
                [length] = "recordsTotal"
                [pageSize] = "pageSize"
                [propItems] = "items"
                [selectedItems] = "selectedItems"
                (pagination) = "pageChanged($event)"
            ></app-company-table>
        </div>
    </ngx-simplebar>

</mat-drawer-container>
</div>

<ng-template #modalDelete let-modal>
  <div class="modal-header border-bottom-0">
    <div class="px-2">
      <span class="color-253238 f-20-500">Delete</span>
    </div>
  </div>
  <div class="modal-body pt-1">
    <div class="px-2">
      <div class="color-ff0000 f-13-400">
        Are you sure you want to permanently delete this one?
      </div>
      <!-- <div class="mt-3 checkbox001">
        <div class="custom-control custom-checkbox pos-t-0">
          <input  type="checkbox" class="custom-control-input" id="deletechk">
          <label class="custom-control-label f-13-500 color-253238" for="deletechk">
            Delete this contact and related activities like tasks and calls?
            This action cannot be undone.
          </label>
        </div>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <div class="px-2">
    <button class="btnColor3-B px-4 f-16-700" mat-flat-button color="primary" (click)="modal.close()">Cancel</button>
    <button (click)="modal.close(); deleteItem($event)" class="btnColor2 ml-2 px-4 f-16-700" mat-flat-button color="primary">Confirm</button>
    </div>
  </div>
</ng-template>
