<div class="ngCSSUR bg-F4F4F4">
    <section class="bgWhite py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto mr-auto">
                    <div class="logo-xs-UR">
                        <img src="../../../assets/images/logo.png" alt="Logo">
                    </div>
                </div>
                <div class="col-auto">
                    <span class="f-18-500 color-253238"><span class="d-none-xs">Already have an account?</span><a class="color-253238" routerLink="/user/login"> Login</a></span>
                    <a class="btnCurve" href="javascript:void(0);" mat-flat-button color="warn">Contact us</a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-xl-10">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-7">
                            <div class="color-1F304B f-60-700">
                                <span>Let's set up your account</span>
                            </div>
                            <div class="color-1F304B f-18-500 mt-2">
                                <span>You selected the Free Plan: Get unlimited  storage and messages up to 50 members for one month.</span>
                            </div>
                            <div class="mt-4 w-100-xs">
                                <img src="../../../assets/images/signupBanner.png" alt="Image">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-5">
                            <div class="roundedBox p-4">
                                <div class="alertBox" *ngIf="apiResponse && apiResponse.success">
                                    <p class="f-14-700 color-253238 mb-1">Success</p>
                                    <span class="color-455B66 f-12-400">Your account has been created successfully!</span>
                                </div>
                                <div class="alertBoxError" *ngIf="formStatus.canShowErrors()">
                                    <p class="f-14-700 color-253238 mb-1">Oops!</p>
                                    <div class="color-455B66 f-12-400" *ngFor="let error of formStatus.errors">{{ error }}</div>
                                </div>
                                <div class="alertBoxInfo" *ngIf="formStatus.onFormProcessing()">
                                    <p class="f-14-700 color-253238 mb-1"></p>
                                    <div class="color-455B66 f-12-400">We are processing your request...</div>
                                </div>

                                <div class="f-22-700 color-1F304B">
                                    <span>Get started</span>
                                </div>
                                <div class="f-22-500 color-1F304B">
                                    <span>(or) Signup using</span>
                                </div>
                                <div class="mt-3 spacerSI">
                                    <a mat-stroked-button href="javascript:void(0);" (click)="loginWithGoogle()"> <img src="../../../assets/images/gmail.png" alt="Gmail"></a>
                                    <a mat-stroked-button href="javascript:void(0);" (click)="loginWithFacebook()"> <img src="../../../assets/images/facebook.png" alt="Facebook"></a>
                                    <a mat-stroked-button href="javascript:void(0);" (click)="signUpTwitter()"> <img src="../../../assets/images/twitter.png" alt="Twitter"></a>
                                    <a mat-stroked-button href="javascript:void(0);"> <img src="../../../assets/images/outlook.png" alt="Outlook"></a>
                                </div>
                                <div>
                                    <hr class="border-f0f0f0">
                                </div>
                                <div class="userForm">
                                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 pr-adj">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>First Name</mat-label>
                                                    <input type="text" matInput placeholder="First Name" formControlName="first_name">
                                                    <mat-error *ngIf="registrationForm.controls.first_name.errors?.required">This field is required.</mat-error>
                                                    <mat-error *ngIf="registrationForm.controls.first_name.errors?.minlength">Please enter at least 2 characters.</mat-error>
                                                    <mat-error *ngIf="registrationForm.controls.first_name.errors?.maxlength">Please enter no more than 255 characters.</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-12 col-md-6 pl-adj">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Last Name</mat-label>
                                                    <input type="text" matInput placeholder="Last Name" formControlName="last_name">
                                                    <mat-error *ngIf="registrationForm.controls.last_name.errors?.maxlength">Please enter no more than 255 characters.</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Work Email</mat-label>
                                                    <input matInput placeholder="Work Email" formControlName="email">
                                                    <mat-error *ngIf="registrationForm.controls.email.errors?.required">This field is required.</mat-error>
                                                    <mat-error *ngIf="registrationForm.controls.email.errors?.pattern">Please enter a valid email address.</mat-error>
                                                    <mat-error *ngIf="registrationForm.controls.email.errors?.serverError">{{ registrationForm.controls.email.errors?.serverError }}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Password</mat-label>
                                                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
                                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                                                    <mat-error *ngIf="registrationForm.controls.password.errors?.required">This field is required.</mat-error>
                                                    <mat-error *ngIf="registrationForm.controls.password.errors?.pattern">
                                                        <p>At least 1 Uppercase</p>
                                                        <p>At least 1 Lowercase</p>
                                                        <p>At least 1 Number</p>
                                                        <p>At least 1 Symbol, symbol allowed !@#$%^&*_=+-</p>
                                                        <p>Min 8 chars and Max 12 chars</p>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Company Name</mat-label>
                                                    <input type="text" matInput placeholder="Company Name" formControlName="company_name">
                                                    <mat-error *ngIf="registrationForm.controls.company_name.errors?.maxlength">Please enter no more than 255 characters.</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row radioBox no-gutters">
                                            <div class="col-sm-12 mb-2">
                                                <span class="color-242E4C f-12-700">Number of employees</span>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" id="one" value="1-9" name="no_of_employees" formControlName="no_of_employees">
                                                <label class="d-block mb-3" for="one">1-9</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" id="two" value="10-49" name="no_of_employees" formControlName="no_of_employees">
                                                <label class="d-block mb-3" for="two">10-49</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" id="three" value="50-99" name="no_of_employees" formControlName="no_of_employees">
                                                <label class="d-block mb-3" for="three">50-99</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" id="four" value="100-249" name="no_of_employees" formControlName="no_of_employees">
                                                <label class="d-block mb-3" for="four">100-249</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" id="five" value="250-499" name="no_of_employees" formControlName="no_of_employees">
                                                <label class="d-block mb-3" for="five">250-499</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" id="six" value="500+" name="no_of_employees" formControlName="no_of_employees">
                                                <label class="d-block mb-3" for="six">500+</label>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <!-- Submit Button -->
                                                <button type="submit" class="w-100 bg-1F304B" mat-flat-button color="warn" [disabled]="!registrationForm?.valid || formStatus.submitted">Create my account</button>
                                            </div>
                                            <div class="col-12">
                                                <span class="color-lite-O f-12-400">By submitting this form, I agree that contacts CRM may contact me to help me complete the creation of my account.</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
