<h1 mat-dialog-title>Add Lead</h1>
<div class="filterPart">
    <!-- <mat-form-field appearance="outline" class="whiteBackground noLabelForm">
        <input matInput placeholder="search field" [(ngModel)]="search">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->
    <mat-form-field class="dialogSearchFormField whiteBackground" appearance="outline">
        <input type="text" placeholder="Search field" aria-label="Number" matInput [formControl]="searchControl"
            [matAutocomplete]="auto" [(ngModel)]="search">
        <mat-icon matSuffix *ngIf="!search">search</mat-icon>
        <mat-icon matSuffix *ngIf="search" style="color: #253238;cursor: pointer" (click)="search = ''">close</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" class="smFontAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-checkbox color="primary" class="mandatoryCheck customCheckBox" (change)="checkMandatory($event)" >Only show mandatory fields</mat-checkbox>
</div>
<div mat-dialog-content>
    <div class="mainContent">
        <div *ngIf="checkShow('Lead Name')">
            <span>Lead Name *</span><br>
            <mat-form-field appearance="outline" class="formControl noLabelForm">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="priceDiv" >
            <div *ngIf="checkShow('Primary Contact')">
                <span>Primary Contact*</span><br>
                <mat-form-field appearance="outline" class="grayBackground formControl noLabelForm" [style.width.px]="232">
                    <mat-select>
                        <mat-option value="1">contact1</mat-option>
                        <mat-option value="2">contact2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="checkShow('Value')">
                <span>Value</span><br>
                <mat-form-field appearance="outline" class="formControl noLabelForm" [style.width.px]="232">
                    <span class="currencySpan">USD</span>
                    <input matInput style="padding-left: 98px">
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="!showMandatory && checkShow('Company')">
            <span>Company</span><br>
            <mat-form-field appearance="outline" class="grayBackground formControl noLabelForm">
                <mat-select>
                    <mat-option value="1">company1</mat-option>
                    <mat-option value="2">company2</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="ownerDiv" *ngIf="!showMandatory">
            <div *ngIf="checkShow('Owner')">
                <span>Owner</span><br>
                <mat-form-field appearance="outline" class="grayBackground formControl noLabelForm" [style.width.px]="232">
                    <mat-select>
                        <mat-option value="1">owner1</mat-option>
                        <mat-option value="2">owner2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="checkShow('Source')">
                <span>Source</span><br>
                <mat-form-field appearance="outline" class="grayBackground formControl noLabelForm" [style.width.px]="232">
                    <mat-select>
                        <mat-option value="1">source1</mat-option>
                        <mat-option value="2">source2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="contactDiv">
            <div *ngIf="checkShow('Secondary Contact')">
                <span>Secondary Contact*</span><br>
                <mat-form-field appearance="outline" class="grayBackground formControl noLabelForm" [style.width.px]="232">
                    <mat-select>
                        <mat-option value="1">contact1</mat-option>
                        <mat-option value="2">contact2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!showMandatory && checkShow('Added On')">
                <span>Added On</span><br>
                <mat-form-field appearance="outline" class="formControl noLabelForm datePicker" [style.width.px]="232">
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle style="height: 10px" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="halfDiv" *ngIf="!showMandatory && checkShow('Estimate Close Date')">
            <span>Estimate Close Date</span><br>
            <mat-form-field appearance="outline" class="formControl noLabelForm" [style.width.px]="232">
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle style="height: 10px" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="halfDiv" *ngIf="!showMandatory && checkShow('Pipeline Category')">
            <span>Pipeline Category</span><br>
            <mat-form-field appearance="outline" class="grayBackground formControl noLabelForm" [style.width.px]="232">
                <mat-select>
                    <mat-option value="1">category1</mat-option>
                    <mat-option value="2">category2</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="!showMandatory  && checkShow('Stage')" class="mb-2">
            <span>Stage</span><br>
            <div class="alignCenter">
                <ng-container *ngFor="let e of stages; let i = index" >
                    <div class="alignCenter positionRelative cursorPointer" [style.left.px]="getLeftOffset(i)" 
                        (click)="selectedStage = i">
                        <img src="{{getStageSrc(i)}}">
                        <span [class.stageSpan]="i > 0" [class.firstStagePan]="i == 0"
                                [class.activeSpan]="selectedStage == i">{{e}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!showMandatory && checkShow('Description')">
            <span>Description</span><br>
            <div>
                <mat-form-field appearance="outline" class="formControl noLabelForm">
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="cancelBtn">Cancel</button>
    <button mat-button class="createBtn ml-3">Save</button>
</div>