.topBar {
    background-color: white;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    color: #253238;
}

.top1 {
    display: flex;
    align-items: center;
}

.top1 .span1 {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}

.top1 .span2 {
    font-size: 14px;
    margin-left: 16px;
}

.top1 mat-icon {
    cursor: pointer;
}

.top1 button {
    background: rgba(208, 217, 222, 0.2);
    border: 1px solid #D0D9DE;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 15px 0 5px;
    font-size: 12px;
    line-height: 30px;
}

.top1 button mat-icon {
    font-size: 16px;
    margin-top: 5px;
}

.top2 button {
    background: #002868;
    border-radius: 9px 9px 9px 0px;

    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px;
}

.mainContainer {
    padding: 20px 30px 0;
    height: calc(100vh - 134px)
}

.leftPart {
    background-color: white;
    border: 1px solid #D0D9DE;
    padding: 20px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.leftPart .title {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    color: #455B66;
}

.leftPart .content {
    font-weight: 500;
    color: #253238;
}

.ft-11 {
    font-size: 11px;
}

.ft-12 {
    font-size: 12px;
}

.redSpot {
    background: #FF4700;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.greenSpot {
    background: #0EB98A;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.leftPart .leftItemPadding {
    padding: 12px 0;
}

.leftPart .leftItemBorderBottom {
    border-bottom: 1px solid #E4E9EF;
}

.leftItem1 {
    align-items: center;
    padding-bottom: 10px;
    display: flex;
}

.leftItem1 .avatar {
    border-radius: 7px;
}

.leftItem1 .span1 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.leftItem1 .span2 {
    font-size: 12px;
    line-height: 14px;
}

.leftItem2 {
    /* margin-top: 15px; */
    /* padding-bottom: 10px; */
    padding: 15px 0;
}

.selectLabel {
    font-size: 12px;
    line-height: 14px;
    color: #455B66;
}

.leftItem2 mat-form-field {
    width: 100px;
    font-size: 13px;
    margin-bottom: -1em;
}

.leftItem3 .panel {
    margin: 5px 0;
    background: rgba(208, 217, 222, 0.2);
    border: 1px solid #D0D9DE;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    color: #455B66;
    font-size: 12px;
}

.leftItem3 .panel mat-icon{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.leftItem3 .panel .span3{
    margin-left: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #253238;
}

.leftItem3 .panel .span4{
    margin-left: 4px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #253238;
}


.centerPart {
    position: relative;
}


