<div class="row mb-2">
    <div class="col-12">
        <div class="f-20-400 color-253238">Manage Profile</div>
        <div class="f-12-400 color-253238 mt-3">Profile Picture</div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-auto">
        <div class="profilePicture">
            <img (click)="trigger.click()" [src]="imageUrl">
        </div>
        <input #trigger class="d-none" type="file" name="" (change)="onChangeProfile($event.target.files[0])">
    </div>
    <div class="col-auto">
        <button (click)="removeProfilePicture()" class="btnColor2-B f-12-400" mat-flat-button color="primary">Remove</button>
    </div>
</div>
<hr class="border-E4E9EF">
<div class="row">
    <div class="col-12">
        <ul *ngIf="userData" class="listStyleNone detailsMP">
            <li class="f-12-400 color-253238">
                <div class="">First Name</div>
                <div class="f-14-400">{{userData.first_name}}</div>
            </li>
            <li class="f-12-400 color-253238">
                <div class="">Last Name</div>
                <div class="f-14-400">{{userData.last_name}}</div>
            </li>
            <li class="f-12-400 color-253238">
                <div class="">Email</div>
                <div class="f-14-400">{{userData.email}}</div>
            </li>
        </ul>
        <div class="mt-3">
            <button (click)="open(modalEditProfile);createProfileForm()" class="btnColor4 f-12-500" mat-flat-button>Edit</button>
        </div>
    </div>
</div>
<hr class="border-E4E9EF mt-4 mb-4">
<div class="row">
    <div class="col-12">
        <div class="f-12-400 color-253238">
            User ID
        </div>
    </div>
    <div class="col-sm-8 col-md-6 col-xl-4">
        <div *ngIf="userData" class="userInput">
            <input class="form-control" type="text" value="{{userData.account_id}}" disabled>
        </div>
        <div class="f-12-400 underlineText">
            <span (click)="open(modalChangePwd);createChangePasswordForm()" class="color-002868 cursor-pointer">Change password</span>
        </div>
    </div>
</div>

<ng-template #modalChangePwd let-modal>
    <div class="modal-header">
        <div class="px-2">
            <span class="color-253238 f-20-500">Change Password</span>
        </div>

    </div>

    <div class="modal-body">
        <div class="px-2 input001">
            <form [formGroup]="changePasswordForm" novalidate>
                <div class="color-253238">
                    <label class="f-12-500">Old password</label>
                    <span *ngIf="changePasswordForm.controls['old_password'].invalid && (changePasswordForm.controls['old_password'].dirty || changePasswordForm.controls['old_password'].touched)" class="color-ff0000 f-12-500 float-right">
          <span *ngIf="changePasswordForm.controls['old_password'].errors.required">
          Please enter your old password.
          </span>
                    </span>
                    <mat-form-field appearance="fill">
                        <input formControlName="old_password" matInput [type]="!oldPwd ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="oldPwd = !oldPwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPwd">
          <mat-icon>{{!oldPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                    </mat-form-field>

                </div>
                <div class="color-253238">
                    <label class="f-12-500">New password</label>
                    <span class="color-ff0000 f-12-500 float-right" *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)">
         <span *ngIf="changePasswordForm.controls['password'].errors.required">
           Please enter new password
         </span>
                    </span>
                    <mat-form-field appearance="fill">
                        <input formControlName="password" matInput [type]="!newPwd ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="newPwd = !newPwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPwd">
          <mat-icon>{{!newPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                    </mat-form-field>
                </div>
                <div class="color-253238">
                    <label class="f-12-500">Confirm password</label>
                    <span class="color-ff0000 f-12-500 float-right" *ngIf="changePasswordForm.controls['password_confirmation'].invalid && (changePasswordForm.controls['password_confirmation'].dirty || changePasswordForm.controls['password_confirmation'].touched)">
          <span *ngIf="changePasswordForm.controls['password_confirmation'].errors.required">
            Please enter new password
          </span>
                    </span>
                    <mat-form-field appearance="fill">
                        <input formControlName="password_confirmation" matInput [type]="!confirmPwd ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="confirmPwd = !confirmPwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPwd">
          <mat-icon>{{!confirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                    </mat-form-field>
                </div>
            </form>

        </div>
    </div>

    <div class="modal-footer">
        <div class="px-2">
            <button class="btnColor3-B px-4 f-16-700" mat-flat-button color="primary" (click)="modal.close()">Cancel</button>
            <button (click)="updateChangePassword()" class="btnColor2 ml-2 px-4 f-16-700" mat-flat-button color="primary" [disabled]="changePasswordForm.pristine || changePasswordForm.invalid">Create</button>
        </div>
    </div>

</ng-template>

<ng-template #modalEditProfile let-modal>
    <div class="modal-header">
        <div class="px-2">
            <span class="color-253238 f-20-500">Edit Profile</span>
        </div>

    </div>

    <div class="modal-body">
        <div class="px-2 input001">
            <form [formGroup]="profileForm">
                <div class="color-253238">
                    <label class="f-12-500">First name</label>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="first_name">
                    </mat-form-field>
                </div>
                <div class="color-253238">
                    <label class="f-12-500">Last name</label>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="last_name">
                    </mat-form-field>
                </div>
                <div class="color-253238">
                    <label class="f-12-500">Email</label>
                    <mat-form-field appearance="fill">
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>
                </div>
            </form>

        </div>
    </div>
    <div class="modal-footer">
        <div class="px-2">
            <button class="btnColor3-B px-4 f-16-700" mat-flat-button color="primary" (click)="modal.close()">Cancel</button>
            <button (click)="updateProfile();" class="btnColor2 ml-2 px-4 f-16-700" mat-flat-button color="primary">Update</button>
        </div>
    </div>

</ng-template>