.mat-dialog-title {
    padding: 24px 40px ;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #253238;
    margin-bottom: 0;
}

.mat-dialog-content {
    margin: 0;
    padding: 0;
    max-height: none !important;
}

.mainContent {
    margin: 20px 40px;
}


.filterPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #E4E9EF solid 1.73px;
    border-bottom: #E4E9EF solid 1.73px;
    background: #EFF2F7;
    /* padding: 10px 40px; */
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.filterPart mat-icon {
    color: #D0D9DE;
}

span {
    font-size: 12px;
    line-height: 17px;
    color: #253238;
    font-weight: 500;
}

.priceDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ownerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-dialog-actions {
    border-top: #E4E9EF solid 1.73px;
    background: #EFF2F7;
    margin: 0;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteBtn {
    background: white;
    color: red;
    border: 1px solid #D0D9DE;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    width: 102px;
}

.cancelBtn {
    background: #EFF2F7;
    border: 1px solid #D0D9DE;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    width: 102px;
    height: 40px;
}

.createBtn {
    background:#002868;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    width: 102px;
    height: 40px;
}

.currencySpan {
    position: absolute;
    background: black;
    top: 5.5px;
    left: -9px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 96px;
    height: 28.5px;
    background: #F7F8FA;
    border-right: 1px solid #D0D9DE;
    display: flex;
    align-items: center;
    color: #253238;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
}
