<app-header></app-header>
<div *ngIf="!listShow">
    <mat-drawer-container hasBackdrop="true">
        <mat-drawer #drawer mode="Over" position="end" class="noScrollDrawer">
            <div class="drawerContainer">
                <div class="drawerContainerTop">
                    <button mat-button class="closeButton mr-4" (click)="drawer.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-icon>filter_alt</mat-icon>
                    <span class="mr-5" class="filterBadge" matBadge={{filterCount}} matBadgeColor="warn" matBadgePosition="above after" matBadgeOverlap="false">Filters</span>
                    <button mat-button class="clearAllButton" (click)="clearAll()">
                        Clear all
                    </button>
                </div>
                <ngx-simplebar [options]="scrollOptions" class="filterContainer1">
                    <app-filter 
                        [filterCount]="filterCount" 
                        (filterCountChanged)="filterCountChangedHandler($event)"></app-filter>
                </ngx-simplebar>
            </div>
        </mat-drawer>

        <div class="topBar">
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" > 
                <div class="topBarDiv">
                    <span class="title mr-3 fontObjektivMk mt-1">All Leads</span>

                    <mat-form-field class="searchForm noLabelForm noSpaceForm" appearance="outline">
                        <input type="text" matInput placeholder="Search by contact name">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <button mat-button class="ml-3 flatIconTextButton" [matMenuTriggerFor]="pipePopup">
                        <mat-icon class="iconInButton">arrow_drop_down</mat-icon>
                        Sales Pipeline 20...
                    </button>
                    <mat-menu #pipePopup="matMenu" class="pipePopup">
                        <button mat-menu-item>pipe1</button>
                        <button mat-menu-item>pipe2</button>
                        <button mat-menu-item>pipe3</button>
                    </mat-menu>
                </div>
                <div class="topBarDiv">
                    <button mat-button class="flatIconLightButton" (click)="showList()">
                        <mat-icon class="smallIcon">list</mat-icon>
                    </button>
                    <button mat-button class="flatIconDarkButton" (click)="showCards()">
                        <mat-icon class="smallIcon">dashboard</mat-icon>
                    </button>
                    <button mat-button class="flatIconTextButton ml-3" (click)="drawer.toggle()">
                        <mat-icon class="iconInButton">filter_alt</mat-icon>
                        Filter({{filterCount}})
                    </button>
                </div>
            </div>
        </div>

        <ngx-simplebar [options]="scrollOptions" class="mainContent">
            <div style="display: flex">
                <div style="min-width: 20px">
                    <span></span>
                </div>

                <div class="card-container" cdkDropList [cdkDropListData]="discovery" #discoveryList="cdkDropList"
                    [cdkDropListConnectedTo]="[qualifiedList, evolutionList, negotiationList, closedList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title">Discovery {{discovery.length}}</p>
                    <ngx-simplebar [options]="scrollOptions" class="cardWrapper">
                        <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of discovery" (click)="clickCard()">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <mat-icon *ngIf="i==100" class="moneyIcon">attach_money</mat-icon>
                                    <img *ngIf="i!=100" alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                                </div>
                                <mat-card-title>
                                    <p class="card-title">Packet Monster Sales Opportunity</p>
                                    <p class="card-sub-title1">Packet Monster, Inc.</p>
                                    <p class="card-sub-title2">$0.00</p>
                                    <p class="card-sub-title3">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </ngx-simplebar>
                </div>
                
                <div class="card-container" cdkDropList [cdkDropListData]="qualified" #qualifiedList="cdkDropList"
                    [cdkDropListConnectedTo]="[discoveryList, evolutionList, negotiationList, closedList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Qualified {{qualified.length}}</p>
                    <ngx-simplebar [options]="scrollOptions" class="cardWrapper">
                        <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of qualified" (click)="clickCard()">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <mat-icon *ngIf="i==100" class="moneyIcon">attach_money</mat-icon>
                                    <img *ngIf="i!=100" alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                                </div>
                                <mat-card-title>
                                    <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                    <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                    <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                    <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </ngx-simplebar>
                </div>
                
                <div class="card-container" cdkDropList [cdkDropListData]="evolution" #evolutionList="cdkDropList"
                    [cdkDropListConnectedTo]="[qualifiedList, negotiationList, discoveryList, closedList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Evolution {{evolution.length}}</p>
                    <ngx-simplebar [options]="scrollOptions" class="cardWrapper">
                        <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of evolution" (click)="clickCard()">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <mat-icon *ngIf="i==100" class="moneyIcon">attach_money</mat-icon>
                                    <img *ngIf="i!=100" alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                                </div>
                                <mat-card-title>
                                    <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                    <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                    <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                    <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </ngx-simplebar>
                </div>

                <div class="card-container" cdkDropList [cdkDropListData]="negotiation" #negotiationList="cdkDropList"
                    [cdkDropListConnectedTo]="[evolutionList, closedList, discoveryList, qualifiedList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Negotiation {{negotiation.length}}</p>
                    <ngx-simplebar [options]="scrollOptions" class="cardWrapper">
                        <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of negotiation" (click)="clickCard()">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <mat-icon *ngIf="i==100" class="moneyIcon">attach_money</mat-icon>
                                    <img *ngIf="i!=100" alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                                </div>
                                <mat-card-title>
                                    <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                    <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                    <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                    <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </ngx-simplebar>
                </div>
                
                <div class="card-container" cdkDropList #closedList="cdkDropList" [cdkDropListData]="closed"
                    [cdkDropListConnectedTo]="[negotiationList, evolutionList, qualifiedList, discoveryList]" (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Closed {{closed.length}}</p>
                    <ngx-simplebar [options]="scrollOptions" class="cardWrapper">
                        <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of closed" (click)="clickCard()">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <mat-icon *ngIf="i==100" class="moneyIcon">attach_money</mat-icon>
                                    <img *ngIf="i!=100" alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                                </div>
                                <mat-card-title>
                                    <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                    <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                    <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                    <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span></p>
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </ngx-simplebar>
                </div>
                
                <!-- <div class="card-container" cdkDropList #closedList="cdkDropList" [cdkDropListData]="closed"
                    [cdkDropListConnectedTo]="[negotiationList, evolutionList, qualifiedList, discoveryList]"
                    (cdkDropListDropped)="dropped($event)">
                    <p class="list-title fontObjektivMk">Closed {{closed.length}}</p>
                    <ngx-simplebar [options]="scrollOptions" class="cardWrapper">
                        <mat-card class="mat-elevation-z0 p-2" cdkDrag *ngFor="let i of closed" (click)="clickCard()">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image">
                                    <img alt="Image" src="../../../assets/images/user-sample.png" class="avatar">
                                </div>
                                <mat-card-title>
                                    <p class="card-title fontObjektivMk">Packet Monster Sales Opportunity</p>
                                    <p class="card-sub-title1 fontObjektivMk">Packet Monster, Inc.</p>
                                    <p class="card-sub-title2 fontObjektivMk">$0.00</p>
                                    <p class="card-sub-title3 fontObjektivMk">Tammy Gillis, <span class="card-sub-title4">14/12/2020</span>
                                    </p>
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </ngx-simplebar>
                </div> -->

                <div style="min-width: 20px">
                    <span></span>
                </div>
            </div>
        </ngx-simplebar>

        <div class="footer">
            <span class="footText1 mr-5">Summary</span>
            <span class="footText2 mr-2">Total Deals</span> <span class="footText1 mr-5">2</span>
            <span class="footText2 mr-2">Total Value</span> <span class="footText1 mr-5">$25030</span>
            <span class="footText2 mr-2">Average Value</span> <span class="footText1">$9809</span>
        </div>
    </mat-drawer-container>
</div>

<div *ngIf="listShow">
    <div fxLayout="row" fxLayout.xs="column" class="lightBackground">
        <div class="leftPart" fxFlex="80">
            <div class="topBar">
                <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" fxLayout.sm="column">
                    <div class="topBarDiv">
                        <span class="title mr-3 fontObjektivMk mt-1">Leads</span>

                        <mat-form-field class="searchForm noLabelForm noSpaceForm" appearance="outline">
                            <input type="text" aria-label="Number" matInput placeholder="Search by contact name">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="topBarDiv">
                        <button mat-button class="flatIconDarkButton1" (click)="showList()">
                            <mat-icon class="smallIcon">list</mat-icon>
                        </button>
                        <button mat-button class="flatIconLightButton1" (click)="showCards()">
                            <mat-icon class="smallIcon">dashboard</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="tableContainer">
                <app-lead-table></app-lead-table>
            </ngx-simplebar>
        </div>
        <div class="rightPart" fxFlex="20" fxFill>
            <div class="drawerContainerTop">
                <mat-icon>filter_alt</mat-icon>
                <span class="mr-5" class="filterBadge" matBadge={{filterCount}} matBadgeColor="warn" matBadgePosition="above after" matBadgeOverlap="false">Filters</span>
                <button mat-button class="clearAllButton" (click)="clearAll()">
                    Clear all
                </button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="filterContainer2">
                <app-filter 
                    [filterCount]="filterCount" 
                    (filterCountChanged)="filterCountChangedHandler($event)"
                    [listShow]="listShow"
                ></app-filter>
            </ngx-simplebar>
        </div>
    </div>
</div>