mat-checkbox {
  margin: 3px;
}

.statusRadio {
display: flex;
flex-direction: column;
}

.subTitle {
  font-size: 12px;
}

mat-expansion-panel {
  border-radius: 0 !important;
  border-bottom: 1px solid #F3F5F9;
}

.topPanel {
border-top: 1px solid #F3F5F9;
}

.customDateDiv {
display: flex;
align-items: center;
justify-content: space-between;
}

.customDateDiv span {
font-size: 12px;
}

.customDateDiv mat-form-field {
font-size: 12px;
width: 120px;
}

.contactBtn {
background: #FFFFFF;
border: 1px solid #D0D9DE;
box-sizing: border-box;
border-radius: 3px 0px 0px 3px;
font-size: 13px;
width: 50%;
height: 35px;
color: #253238;
font-weight: 500;
}

.companyBtn {
background: #FFFFFF;
border: 1px solid #D0D9DE;
box-sizing: border-box;
border-radius: 0px 3px 3px 0px;
font-size: 13px;
width: 50%;
height: 35px;
color: #253238;
font-weight: 500;
}

.activeBtn {
background: #EFF2F7;
}

.clearBtn {
background: #EFF2F7;
border: 1px solid #D0D9DE;
box-sizing: border-box;
border-radius: 3px;
height: 35px;
width: 100px;
font-size: 12.5px;
color: #253238;
font-weight: bold;
}

.filterContainer1 {
max-height: calc(100vh - 200px);
}

.drawerContainerTop {
padding: 19px 12px;
display: flex;
align-items: center;
}

.closeButton {
padding: 0;
border: 1px solid #E6EAF0;
line-height: normal;
min-width: 24px;
}

.clearAllButton {
background-color: #EFF2F7;
border: 1px solid #D0D9DE;
font-size: 12px;
line-height: 30px;
margin-left: 100px;
}

.drawerContainerTop span {
font-size: 16px;
font-weight: bold;
}
.adjThis {position: relative; top: 5px;}
.hgt-150 {
height: 150px;
}


