<div class="">
    <section class="bg-e5e5e5 py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="">
                        <img src="../../../assets/images/logo.png" alt="Logo">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="py-5 bgWhite">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
                    <div class="text-center mb-5">
                        <div class="f-22-700 color-1F304B mb-3">
                            <span>Forgotten your password?</span>
                        </div>
                        <div class="f-16-400 color-1F304B">
                            <span>We'll get this taken care of. You'll receive a link to your account email where you can create a new password. </span>
                        </div>
                    </div>
                    <div class="alertBoxError" *ngIf="apiResponse && !apiResponse.success">
                        <p class="f-14-700 color-253238 mb-1">Error</p>
                        <span class="color-C41E41 f-12-400">{{apiResponse.message}}</span>
                    </div>
                    <div class="px-5">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="userForm">
                                <mat-form-field appearance="outline">
                                    <mat-label>Registered Email</mat-label>
                                    <input matInput placeholder="Registered Email" formControlName="email">
                                    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">This field is required.</mat-error>
                                    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.pattern">Please enter a valid email address.</mat-error>
                                    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.serverError">{{ forgotPasswordForm.controls.email.errors?.serverError }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-4">
                                <!--<a routerLink='/user/forgot-password/reset-email' target="_blank" class="w-100 bg-1F304B" mat-flat-button color="warn">Recover my account</a>-->
                                <button type="submit" class="w-100 bg-1F304B" mat-flat-button color="warn" [disabled]="clicked">Recover my account</button>
                            </div>
                        </form>
                        <div class="f-14-500">
                            <div class="mb-3">
                                <a class="color-1F304B hover-C41E41" routerLink='/user/login'>Return to login</a>
                            </div>
                            <div class="mb-2">
                                <a class="color-1F304B hover-C41E41" href="javascript:void(0);">Looking for support?</a>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a class="w-100 bg-C41E41" href="javascript:void(0);" mat-flat-button color="warn">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>