
.bg-1F304B.mat-flat-button {
  background-color: #1f304b; padding-bottom: 10px; padding-top: 10px;font-family: objektiv-mk3, sans-serif;
  font-size: 16px;
  font-weight: 700; line-height: 23px;}
  .bg-C41E41.mat-flat-button {
    background-color: #C41E41; padding-bottom: 10px; padding-top: 10px;font-family: objektiv-mk3, sans-serif;
    font-size: 18px;border-radius: 20px 3px 20px 20px;
    font-weight: 700; line-height: 26px;}

.bg-e5e5e5 {background-color: #e5e5e5;}
.bgWhite {background-color: #fff;}

.userForm .mat-form-field{display: block;font-family: objektiv-mk3, sans-serif;}
a.hover-C41E41:hover {color: #C41E41;}





