<div class="row">
  <div class="col-12 color-253238 mb-4">
    <div class="f-20-400 mb-2">Plans and pricing</div>
    <div class="f-14-400">From here, you can import contacts into contacts using a CSV.
      Take a look at this <a class="color-253238 underlineText">article</a> <br>
       before you prepare the CSV file for importing.</div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="graybox xs-md-TextLeft">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 color-253238">
            <span class="f-30-500 mr-4 align-middle">Lite</span>
            <span class="f-14-400 align-middle">Current plan</span>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6  color-253238 text-right">
            <div class="f-20-400">Free</div>
            <div class="f-14-400">With restriction plan</div>
          </div>
          <div class="col-12 color-253238 mt-3">
            <div class="f-14-500 mb-3">
              Plan includes
            </div>
            <div class="mb-4">
              <ul class="f-14-400 p-0">
                <li class="row mb-3">
                   <div class="col-auto pr-0">
                   <img src="../../../assets/images/checkbox-bg.png">
                   </div>
                   <div class="col">
                    <span>Manage contacts upto 100</span>
                   </div>
                </li>
                <li class="row mb-3">
                  <div class="col-auto pr-0">
                  <img src="../../../assets/images/checkbox-bg.png">
                  </div>
                  <div class="col">
                   <span>Unlimited Email for 30 days</span>
                  </div>
               </li>
               <li class="row mb-3">
                <div class="col-auto pr-0">
                <img src="../../../assets/images/checkbox-bg.png">
                </div>
                <div class="col">
                 <span>Free for always </span>
                </div>
             </li>
             <li class="row mb-3">
              <div class="col-auto pr-0">
              <img src="../../../assets/images/checkbox-bg.png">
              </div>
              <div class="col">
               <span>Unlimited log history </span>
              </div>
           </li>
              </ul>
            </div>

            <div class="mt-30 mb-3">
              <button mat-flat-button class="btnColor4 f-14-700 btnRadiusTheme">Upgrade to pro</button>
            </div>

          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="graybox xs-md-TextLeft">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 color-253238">
          <span class="f-30-500 mr-4 align-middle">Pro</span>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6  color-253238 text-right">
          <div class="f-30-400">$20</div>
          <div class="f-14-400">Monthly</div>
        </div>
        <div class="col-12 color-253238 mt-1">
          <div class="f-14-500 mb-3">
            Plan includes
          </div>
          <div class="mb-4">
            <ul class="f-14-400 p-0">
              <li class="row mb-3">
                 <div class="col-auto pr-0">
                 <img src="../../../assets/images/checkbox-bg.png">
                 </div>
                 <div class="col">
                  <span>Manage contacts upto 100</span>
                 </div>
              </li>
              <li class="row mb-3">
                <div class="col-auto pr-0">
                <img src="../../../assets/images/checkbox-bg.png">
                </div>
                <div class="col">
                 <span>Unlimited Email for 30 days</span>
                </div>
             </li>
             <li class="row mb-3">
              <div class="col-auto pr-0">
              <img src="../../../assets/images/checkbox-bg.png">
              </div>
              <div class="col">
               <span>Free for always </span>
              </div>
           </li>
           <li class="row mb-3">
            <div class="col-auto pr-0">
            <img src="../../../assets/images/checkbox-bg.png">
            </div>
            <div class="col">
             <span>Unlimited log history </span>
            </div>
         </li>
            </ul>
          </div>

          <div class="mt-30 mb-3">
            <button mat-flat-button class="btnColor1 f-14-700 btnRadiusTheme">Start 14 days of free pro plan</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
