.bg-1F304B.mat-flat-button {
    background-color: #1f304b;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: objektiv-mk3, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.bg-e5e5e5 {
    background-color: #e5e5e5;
}

.bgWhite {
    background-color: #fff;
}

.userForm .mat-form-field {
    display: block;
    font-family: objektiv-mk3, sans-serif;
}

.gifImage img {
    width: 200px;
}

.formHide {
    display: none;
}

.formShow {
    display: block;
}